.header {
    padding-top: 20px;
    padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.nav{
    color: black;
    text-decoration: none;
    font-size: 25px;
	font-weight: 500;
    margin-right: 15px;
    &:hover {
		color: rgb(82, 82, 226);
		}
}