.filterInput {
  width: 300px;
  height: 20px;
}
.filterLabel {
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 400;
}
.filter {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  width: 500px;
}
